#chatbot__container-wrapper{
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    display: flex;
    align-items: baseline;
    max-width: max-content;
    z-index: 100;
}

#chatbot__icon{
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.3s ease;
        -webkit-animation: heartbeat 4s ease-in-out infinite both;
	        animation: heartbeat 4s ease-in-out infinite both;
}

 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

#chatbot__container{
    font-family:Arial, Helvetica, sans-serif;
    height: 400px;
    width: 300px;
    background: #000;
    border-radius: 7px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.3s ease;
    box-sizing: border-box;
    transform-origin: right bottom;
    transform: scale(0);
    opacity: 0;
}

#chatbot__message-container{
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    height: 360px;
    width: 300px;
    background: #e6e6e6;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    box-sizing: border-box;
    padding: 10px;
    scroll-behavior: smooth;
    font-size: 0.9rem;
}

#chatbot__input{
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    word-wrap: break-word;
    left: 0;
    bottom: 0;
    width: 300px;
    max-width: 300px;
    height: 45px;
    outline: none;
    border: none;
    padding: 7px 40px 7px 7px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    resize: none;
    z-index: 1;
}

#chatbot__input::-webkit-scrollbar, #chatbot__container::-webkit-scrollbar, #chatbot__message-container::-webkit-scrollbar{
    width: 0px;
}

.chatbot__message{
    display: inline-block;
    padding: 4px 12px 4px 12px;
    border-radius: 7px;
    max-width: 45%;
    word-wrap: break-word;
    overflow-anchor: auto;
}

.chatbot__message:last-child{
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}


.chatbot__query{
    align-self: flex-end;
    color: #fff;
    background: #000;
    justify-content: flex-end;
}

.chatbot__response{
    align-self: flex-start;
    color: rgb(255, 255, 255);
    background: rgb(88, 88, 253);
    justify-content: flex-start;
}

#chatbot__send-icon{
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 10px;
    right: 5px;
    z-index: 2;
    cursor: pointer;
    transition: all 0.1s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#chatbot__send-icon:active{
    transform: scale(0.8);
}